<div id="food_container">

  <!-- <p> <%= Food.order("RANDOM()").first.name %></p> -->
  <!-- <p><%= @food %> </p> -->
  <%= render 'food/food' %>


</div>

<div style="text-align: right">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="lhero_@hotmail.com">
<input type="hidden" name="lc" value="AU">
<input type="hidden" name="item_name" value="Donation appreciated. If >$10, you can suggest a dish to be added. If >$50, increase chance of your dish.">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="currency_code" value="AUD">
<input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
<input data-toggle="tooltip" data-placement="left" title="For more selections and background pictures in the future" type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
</form>
</div>
