<div class="container">
  <div class="jumbotron">
    <p style="font-weight: bold">05/02/17</p>
    <p style="font-size:15px">Updates coming in the future will include: </p>
      <li style"font-size:15px">More food to be added to the list</li>
      <li style"font-size:15px">More variety of questions and adjectives</li>
  </div>
</div>
